/node_modules
/public/hot
/public/storage
/public/v2
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

composer.lock
package-lock.json

public/css
public/js
public/mix-manifest.json
public/fonts
public/mix.js.map

.idea
